.nevigation{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
}
.logo{
    width: 80%;
}
.allusers{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
}